<div class="card">
  <%= link_to image_tag( lunch.image , class: :card__img ),  lunch_path(lunch.id) %>
  <div class="card__body">
    <%= link_to lunch.menu_date, lunch_path(lunch.id), class: :card__title%>
      <%# <%= lunch.menu_date %> 
    <p class="card__summary">
      <%= lunch.soup %>
    </p>
    <%= link_to lunch.user.name, user_path(lunch.user.id), class: :card__user %>
  </div>
</div>
