<main class="main">
  <div class="inner">
    <div class="lunch__wrapper">
      <p class="lunch__hedding">
        <%= @lunch.menu_date %>
      </p>
      <%= link_to @lunch.user.name, user_path(@lunch.user.id), class: :prototype__user %>
       <% if user_signed_in? && current_user.id == @lunch.user_id %>
       <%# ログインしていてかつ現在ログインしている方と献立を投稿した方が同じであればifからendまでを実行する %>
        <div class="prototype__manage">
          <%= link_to "編集する",  edit_lunch_path(@lunch.id), class: :prototype__btn %>
          <%= link_to "削除する", lunch_path(@lunch.id), method: :delete, class: :prototype__btn %>
        </div>
       <% end %>
      <div class="prototype__image">
        <%= image_tag @lunch.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">汁物</p>
          <p class="detail__message">
            <%= @lunch.soup %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">その他</p>
          <p class="detail__message">
            <%= @lunch.other %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">主食</p>
          <p class="detail__message">
            <%= @lunch.staple_food %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">主菜</p>
          <p class="detail__message">
            <%= @lunch.main_dish %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">副菜</p>
          <p class="detail__message">
            <%= @lunch.side_dish %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">飲み物</p>
          <p class="detail__message">
            <%= @lunch.drink %>
          </p>
        </div>
      </div>
      
